pkgbase = voltaic
	pkgdesc = Wireless device battery levels in the system tray (Logitech HID++ and AirPods)
	pkgver = 1.4.0
	pkgrel = 1
	url = https://github.com/jcfs/voltaic
	arch = any
	license = MIT
	depends = python
	depends = python-gobject
	depends = python-cairo
	depends = gtk3
	optdepends = xapp: native status icon on Cinnamon, MATE and Xfce
	optdepends = libappindicator-gtk3: status icon on desktops that only speak SNI
	source = voltaic-1.4.0.tar.gz::https://github.com/jcfs/voltaic/archive/refs/tags/v1.4.0.tar.gz
	sha256sums = 8f9bab73ada7764e721f5243d5a3eb0c36739d224bfe6be08c4574b90e6822c3

pkgname = voltaic
